/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Estilos para el elemento html*/
html {
    scroll-behavior: smooth;
}
/*Estilos para el contenido principal y el pie de página*/
main,footer {
    margin-left: 220px;
}
footer{
    margin-left:220px;
}
/*Estilos para el encabezado y su fondo*/
header {
    margin-left: 220px;
    position: relative;
    background-image: url(../img/Fondo.jpg);
    background-size: cover;
    background-position: center;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1;
}
header * {
    position: relative;
    z-index: 2;
}
header {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #333;
}
header h1 {
    letter-spacing: 20px;
}
/*Estilos para el cuerpo del documento y la fuente*/
body {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #000;
    color: #fff;
    line-height: 1.6;
}
/*Estilos para el contenedor principal*/
.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
}
#inicio .contenedor {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  gap: 40px; 
  flex-wrap: wrap; 
}
#inicio .contenedor p {
  flex: 1;
  font-size: 16px;
  line-height: 1.6;
}
#inicio .contenedor h1 {
  width: 100%;
}
#inicio .contenedor hr {
  width: 100%;
  margin: 10px 0 20px;
}
#inicio .video {
  flex: 1;
  display: flex;
  justify-content: center;
}
#inicio .video video {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 420px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
/*Estilos para la barra lateral y su contenido*/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    background: #000;
    border-right: 1px solid #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
}
.sidebar .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}
.sidebar .logo img {
    width: 80px;
    border-radius: 50%;
    margin-bottom: 40px;
}
.sidebar .logo h1 {
  font-size: 16px; 
  white-space: nowrap; 
}
.sidebar ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar li {
    margin: 15px 0;
    text-align: center;
    width: 100px;
}
.sidebar a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    position: relative;
    padding: 5px;
    display: inline-block;
}
.sidebar a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0%;
    height: 1px;
    background: #fff;
    transition: 0.3s;
    transform: translateX(-50%);
}
.sidebar a:hover::after {
    width: 100%;
}
/*Estilos para las secciones y su contenido*/
section h1 {
    text-align: center;
    margin-bottom: 10px;
}
section p {
    text-align: center;
    margin-bottom: 20px;
    color: #ccc;
}
/*Estilos para la sección de tatuador y la galería de diseños*/
.tatuador {
    text-align: center;
    margin: 20px 0;
}
.tatuador img {
    width: 180px;
    border-radius: 50%;
    border: 2px solid #fff;
}
/*Estilos para la galería de diseños y su interacción*/
.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.galeria-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    margin-top: 15px;
    justify-items: center;
}
.galeria img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
    border: 1px solid #333;
    transition: 0.3s;
}
.item-galeria {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 180px;
}

.item-galeria img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    display: block;
    transition: 0.4s;
}
/* Overlay oculto */
.overlay {
    position: absolute;
    inset: 0;
     background: linear-gradient(
        to top,
        rgba(0,0,0,0.9),
        rgba(0,0,0,0.3)
    );
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.4s;
}
/* Texto */
.overlay p {
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
}

/* 🔥 Hover */
.item-galeria:hover .overlay {
    opacity: 1;
}

.item-galeria:hover img {
    transform: scale(1.1);
}
details {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
summary {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #fff;
    display: inline-block;
    border-radius: 10px;
    transition: all 0.3s;
}
summary:hover {
    background: #fff;
    color: #000;
}
/*Estilos para la sección de contacto y su formulario*/
form {
    max-width: 600px;
    margin: auto;
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label {
    margin-top: 10px;
}

input{
    color-scheme: dark;
}
input, textarea {
    padding: 10px;
    border: 1px solid #333;
    background: #111;
    color: #fff;
    outline: none;
}
input:focus, textarea:focus {
    border-color: #fff;
}
.btn {
    margin-top: 20px;
    padding: 12px;
    border: none;
    cursor: pointer;
    background: #fff;
    color: #000;
    transition: 0.3s;
}
.btn:hover {
    background: #000;
    color: #fff;
    border: 1px solid #fff;
}
.contact-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}
.contact-container h3 {
    text-align: center;
    margin-bottom: 20px;
}
.contact-info {
    flex: 1;
}
.contact-form {
    flex: 1;
}
/*Estilos para el pie de página y su fondo*/
header,
.footer {
    position: relative;
    isolation: isolate; 
}
.footer {
    color: #fff;
    padding-top: 60px;
    background-image: url(../img/Fondo2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}
.footer * {
    position: relative;
    z-index: 2;
}
.footer-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
}
.footer h2 {
    font-size: 20px;
    letter-spacing: 2px;
}
.footer h3 {
    font-size: 14px;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
}
.footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer p {
    color: #ffffff;
    font-size: 14px;
    line-height: 1.6;
}
.footer a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 8px;
    position: relative;
    transition: 0.3s;
}
.footer a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 1px;
    background: #fff;
    transition: 0.3s;
}
.footer a:hover::after {
    width: 100%;
}
/*Estilos para los íconos sociales en el pie de página y su interacción*/
.social-icons a {
    width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  background: rgba(255,255,255,0.05);
  padding: 12px;
  border-radius: 50%;
}
.footer .logo img {
    width: 250px;
    border-radius: 50%;
    margin-bottom: 40px;
}
.footer-line {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent, #444, transparent);
    margin: 40px 0 20px;
}
.footer-bottom {
    text-align: center;
    padding-bottom: 20px;
    font-size: 13px;
    color: #ffffff;
}
.social-float {
  position: relative;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.social-float a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 22px;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  transition: all 0.3s ease;
}
.social-float .instagram {
  background: #E1306C;
}
.social-float .whatsapp {
  background: #25D366;
}
.social-float .tiktok {
  background: #111;
}
.social-float a:hover {
  transform: scale(1.15);
  box-shadow: 0 0 25px rgba(0,0,0,0.7);
}
/*Media Queries para hacer el sitio responsive en diferentes tamaños de pantalla*/
@media (max-width: 1200px) {
    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
        flex-direction: column; 
        align-items: center;
    }

    .sidebar .logo {
        margin-bottom: 20px; 
    }

    .sidebar ul {
        display: flex;
        flex-direction: column; 
        gap: 10px;
        width: 100%;
        align-items: center;
    }

    .sidebar li {
        width: 100%;
        text-align: center;
    }

    .sidebar a {
        display: block;
        width: 100%;
        padding: 10px;
    }

    main, header, .footer {
        margin-left: 0;
    }
    .contact-container {
        flex-direction: column;
    }
    .galeria img {
        width: 100%;
        max-width: 300px;
    }
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }
    .social-icons{
        justify-content: center;
    }
    .social-float{
        right: 30px;
    }
}
@media (max-width: 600px) {
    body{
        padding-bottom: 80px;
    }
    #inicio .contenedor {
        flex-direction: column;
        text-align: center;
    }
    #inicio .video {
        max-width: 100%;
    }
    .contact-container {
        gap: 20px;
    }
    .social-float {
        top: auto;
        bottom: 20px;
        right: 50%;
        transform: translateX(50%);
        flex-direction: row;
    }
} 
@media (max-width: 500px) {
    .footer-grid {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 400px) {
    .sidebar ul {
        flex-direction: column;
        gap: 10px;
    }
    .sidebar li {
        width: auto;
    }
}
